
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;

  --primary: 262 83% 58%;
  --primary-foreground: 0 0% 100%;

  --secondary: 270 10% 50%;
  --secondary-foreground: 0 0% 100%;

  --border: 214 32% 91%;
  --muted: 210 40% 96%;
}